* {
	box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



body {
  font: 14px "Century Gothic", Futura, sans-serif;
  color: #fff;
  margin: 0px;
  background-image: linear-gradient(-90deg, #7CDBF1, #1E4C96);
  background-repeat: repeat;
  background-size: cover;
}
header {
  height: 50px;
  background-color: #26517C;
  padding: 5px 0px;
}
header h1 {
  color: #fff;
  text-align: center;
  margin: 0px;
}

ol, ul {
  padding-left: 30px;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #4188D2;
  border: 3px solid #fff;
  color: #fff;
  border-radius: 6px;
  font-size: 58px;
  font-weight: bold;
  line-height: 78px;
  height: 78px;
  padding: 0;
  text-align: center;
  width: 78px;
}
.highlighted-square {
  background: #ff0000;
}
.highlighted-winner-square {
  background: #00ff00;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}
#root {
  display: flex;
  justify-content: center;
}
.game {
  display: flex;
  flex-direction: column;
}
.game-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.game-board {
  min-width: 270px;
  margin: 10px 0px;
}
.board-row {
  display: flex;
  justify-content: center;
}
.game-board button {
  margin: 2px;
}
.game-info {
  min-width: 270px;
  text-align: center;
  margin: 10px 0px;
}
.game-info button {
  min-width: 230px;
  border: none;
  border-radius: 6px;
  background: #66E275;
  color: #000;
  margin: 3px;
  padding: 6px;
  font-weight: bold;
}
.game-info button:hover {
  color: #000;
  background-color: #fff;
}
.new-game, .type-of-game {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}
.type-of-game {
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #fff;
}
.type-of-game-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.new-game-button, .player-vs-player, .player-vs-computer-light, .player-vs-computer-medium, .player-vs-computer-hard {
  min-width: 230px;
  border: none;
  border-radius: 6px;
  background: #66E275;
  color: #000;
  margin: 3px;
  padding: 6px;
  font-weight: bold;
}
.new-game-button:hover {
  background: #fff;
}
.player-vs-player, .player-vs-computer-light, .player-vs-computer-medium, .player-vs-computer-hard {
  background: #26517C;
  color: #fff;
}
.player-vs-player:hover, .player-vs-computer-light:hover, .player-vs-computer-medium:hover, .player-vs-computer-hard:hover {
  background: #ff0;
  color: #000;
}
.player-active {
  background: #ff0;
  color: #000;
}
.game-status {
  font-size: 26px;
  font-weight: bold;
  margin: 5px 0;
  text-align: center;
  color: #ff0;
}

button:hover {
  cursor: pointer;
  background-color: #26517C;
}